/* Обертка которая обрезает все лишнее что выходит за ширину страници,
к примеру если вы что то вытаскиваете марджинами то у вас появится горизонтальный скролл на странице, эта обертка его срезает
+ если вы забыли указать position: relative; на нужном блоке, это ваша отправная точка для позиционирования,
чтобы не трогать body
эта обертка есть в каждом проекте */

.wrapper {
	overflow: hidden;
	position: relative;
}

/* Элемент который центрирует контент на странице (только центрирует) */

.container {
	max-width: 1000px;
	margin: 0 auto;
}

/* Обертка для полей формы */

.form-group {
	margin-bottom: 15px;
}

/* Поля формы */

.form-control {
	display: block;
    width: 100%;
    border-radius: 5px;
    border: solid 2px #e0e9f0;
    background-color: #fff;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 1;
}

.form-control:focus {
	outline: none;
	border-color: rgb(112, 112, 122);
}

/* Стили для кроссбраузерности placeholder полей */

.form-control::-webkit-input-placeholder {
	color:#bdc6ca;
}

.form-control::-moz-placeholder {
	opacity: 1;
	color: black;
}

.form-control:-ms-input-placeholder {
	color: #f00;
}

.textarea {
    margin: 0;
    height: 140px;
    resize: none;
    font-family: inherit;
  }

.btn {
	display: block;
    background-color: #009688;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 17px 80px;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
}

.btn:hover {
	background-color:#015f56;
}

.btn-2 {
	display: block;
    background-color: #fff;
    color: #009688;
    border: 3px solid;
    border-radius: 5px;
    padding: 17px 71px;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
    min-width: 380px;
    min-height: 71px;
}